body, main {
    height: 100dvh;
    width: 100dvw;
    padding: 0px;
    margin: 0px;
    background-color: rgb(191, 191, 191);
    font-family: Roboto Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 4fr, 1fr;
}

#gameboard {
    grid-area: 2 / 1 / 3 / 1;
    justify-self: center;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 1fr);
    border: 1px solid black;
}

#winAlert {
    font-size: 150px;
    min-height: 200px;
    justify-self: center;
}

.cell {
    border:1px solid black;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#restartButton {
    grid-area: 3 / 1 / 4 / 1;
    width: 80px;
    height: 50px;
    justify-self: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.playerNameDivas {
    font-style: italic;
    min-width: 100px;
    width: fit-content;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.pencilIcon {
    width: 16px;
    height: 16px;
    padding-left: 10px;
}

.playerNameBox {
   font-style: italic;
    min-width: 100px;
    width: fit-content;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}